$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?1e518d3124ecdb44facdb0d5f43f22c1") format("truetype"),
url("./flaticon.woff?1e518d3124ecdb44facdb0d5f43f22c1") format("woff"),
url("./flaticon.woff2?1e518d3124ecdb44facdb0d5f43f22c1") format("woff2"),
url("./flaticon.eot?1e518d3124ecdb44facdb0d5f43f22c1#iefix") format("embedded-opentype"),
url("./flaticon.svg?1e518d3124ecdb44facdb0d5f43f22c1#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "chat": "\f101",
    "cup-of-hot-coffee": "\f102",
    "edit": "\f103",
    "folder": "\f104",
    "heart": "\f105",
    "layers": "\f106",
    "settings": "\f107",
    "users": "\f108",
);

.flaticon-chat:before {
    content: map-get($flaticon-map, "chat");
}
.flaticon-cup-of-hot-coffee:before {
    content: map-get($flaticon-map, "cup-of-hot-coffee");
}
.flaticon-edit:before {
    content: map-get($flaticon-map, "edit");
}
.flaticon-folder:before {
    content: map-get($flaticon-map, "folder");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-layers:before {
    content: map-get($flaticon-map, "layers");
}
.flaticon-settings:before {
    content: map-get($flaticon-map, "settings");
}
.flaticon-users:before {
    content: map-get($flaticon-map, "users");
}
